
<div style="padding:5%; text-align:center"><h1>Agenda</h1>
<p>Introduce your agenda using the inputs below. <br/>
You can add as many points as you want by clicking the add (+) button (or pressing Enter key).</p></div>
<div class="container">
  <table class="table table-hover">
    <div *ngFor="let entrada of entradas; let i=index">
      <tr>
        <td>{{entradas.indexOf(entrada)+1}}.&nbsp;</td>
        <td style ="width: 100%">
          <input class="col-12" type = "text" [(ngModel)]="entrada.description"  *ngIf="entrada.isInput" (focusout)="convert(entrada)" 
          (keyup.enter)="convert(entrada); addAgenda()" placeholder="Point to deal with" required/>
        <div *ngIf="!entrada.isInput" (click)="convert(entrada)">{{entrada.description}}</div></td>
        <td><button *ngIf="i!=0" type="button" (click)="removeAgenda(entrada, i)">Remove</button></td>
        <td><div *ngIf="!checkNotBlank(entrada.description)" style="color: red; text-align: center">Required</div></td></tr>
    </div>
  </table>
  <div class="text-center">
    <button type="button" (click)="addAgenda()" class="btn btn-success btn-circle btn-lg">+</button>
  </div>

  <div style="margin:2%;text-align:center">
      <br/>
    <!-- <button type="button" >Skip this step</button> -->
    <button type="button" (click)="saveAgenda(entradas)">Save & create the meeting</button>
  </div>
</div>