
<div class="d-flex justify-content-center align-items-stretch">
  
    <!-- <label for="enterprise" >Enterprise:</label>
    <input [(ngModel)]="organization.enterprise" type="text" name="enterprise" id="enterprise"/> -->

    <label class="mt-4" ><strong>Name:</strong> {{user.name}} </label>
    <label class="mt-4" ><strong>Name:</strong> {{user.surname}} </label>
    <label class="mt-4" ><strong>Name:</strong> {{user.username}} </label>
    <label class="mt-4" ><strong>Name:</strong> {{user.email}} </label>
    <label class="mt-4" ><strong>Name:</strong> {{user.phone}} </label>
    
    <div style="margin:2%;text-align:center">
        <button routerLink="edit" class="btn btn-2">Edit profile</button>
        <button routerLink=".." class="btn bt-lg">Go back</button>
      </div>
   
</div>