<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-12">
      © 2018 - Drafter, Inc. All rights reserved
    </div>
    <div class="col-lg-7 col-md-12">
      <a href="https://twitter.com/appdrafter" target="_blank" title="Twitter" class="social-link d-inline-block">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCsZ2RIJWJfXvG_PmbqZN00g" target="_blank" title="YouTube" class="social-link d-inline-block">
        <i class="fab fa-youtube"></i>
      </a>
      <a routerLink="legal" class="d-inline-block">Legal warning</a>
      <a routerLink="pricing" class="d-inline-block">Pricing</a>
      <a href="mailto:drafter.ispp.app@gmail.com?subject=[DRAFTER-BETA]%20Bug%20report" class="d-inline-block">Report a bug</a>
    </div>
  </div>
</div>