<div class="d-flex justify-content-center align-items-stretch">
  <div class="col-lg-6 d-none d-lg-block welcome-info">
    <div class="text-center">
      <strong>Sign up</strong>
    </div>
    <img src="../../../assets/img/sign-up.jpg" class="img-fluid">      
  </div>
  <form class="col-lg-6 form-2">
    <div class="text-center">
      <img src="../../../assets/img/white-logo.png" class="img-logo img-fluid">
      <p>Your meeting manager</p>
      <hr>
    </div>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName">
    </div>
    <div class="form-group">
      <label for="inputSurname">Surname</label>
      <input type="text" class="form-control" id="inputSurname">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="text" class="form-control" id="inputUsername">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>    
    <div class="text-center">
      <button type="submit" class="btn btn-2">Sign up</button>
    </div>
  </form>
</div>