.row {
    margin-top: 40px;
}

div.welcome-info,
div.login-form {
    max-width: 450px;
    padding: 0;
}

div.welcome-info img {
    border-bottom-left-radius: 5px;
}

div.welcome-info div {
    border-top-left-radius: 5px;
    padding: 15px;
    font-size: 2em;
    color: #fff;
    background-color: #00a98f;
}

div.login-form form {
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
}

div.login-form form img.img-logo {
    max-width: 150px;
}

div.login-form form hr {
    margin-bottom: 30px;
    background-color: #e6e6e6;    
}

button {    
    border: none;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    background-color:#00a98f;    
}

button:hover {
    color: #000;
    background-color: #fff;
}

.error{
    border:solid 2px red;
}