<div id="content" #content>
    <h1 class="title-page text-center">
        <span class="capital-letter">M</span>eeting
        <span class="capital-letter">M</span>inutes
    </h1>

    <div class="subtitle">
    Summary
    </div>
    <div class="minutes-container">
    <div class="summary-item d-inline-block">
        <span class="summary-item-title">Title</span> {{meeting.title}}
    </div>
    <div class="summary-item d-inline-block">
        <span class="summary-item-title">Type</span> {{meeting.type}}
    </div>
    <div class="summary-item d-inline-block">
        <span class="summary-item-title">Date</span> {{meeting.date | date:"EEEE, dd LLL yyyy HH:mm"}}
    </div>
    <div class="summary-item d-inline-block">
        <span class="summary-item-title">Length</span> {{ format() }}
    </div>
    <div class="summary-item d-inline-block">
        <span class="summary-item-title">Session leader</span> {{leader.name}}
    </div>
    <div class="summary-item d-block">
        <span class="summary-item-title">Description</span> {{meeting.description}}
    </div>
    </div>

    <div class="subtitle">
        Participants
    </div>
    <div class="minutes-container">
        <div class="d-flex justify-content-start flex-wrap">
            <div *ngFor="let at of meeting.attendants" class="card">
                <img class="card-img-top img-fluid" src="{{at.photo}}" alt="Avatar">
                <div class="card-body">
                    <h4 class="card-title">{{at.name}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="subtitle">
        Ideas
    </div>


    <div class="minutes-container">
        <div *ngFor="let idea of ideas" class="point-container">
            <h3>{{idea.text}}</h3>
            <h6 style="color: grey">Rating: {{getAverage(idea)}}</h6>
            <span>
                <h5>Pros:</h5>
            </span>
            <ul>
                <li *ngFor="let pro of idea.pros">{{pro.pros}}</li>
            </ul>
            <span>
                <h5>Cons:</h5>
            </span>
            <ul>
                <li *ngFor="let con of idea.cons">{{con.cons}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center">
    <button (click)="downloadPDF()" class="btn mb-3"><i class="fas fa-file-pdf"></i> Export</button>
    <button (click)="downloadDoc()" class="btn mb-3"><i class="fas fa-file-pdf"></i> Export doc</button>
</div>
