<div *ngIf="showError == true" class="alert alert-danger text-center">
  Incorrect email or password
</div>

<div class="d-flex justify-content-center align-items-stretch">
  <div class="col-lg-6 d-none d-lg-block form-info">
    <div class="text-center">
      <strong>Sign in</strong>
    </div>
    <img src="../../../assets/img/sign-in.jpg" class="img-fluid">      
  </div>
  <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" method="post" class="col-lg-6 form-2">
    <div class="text-center">
      <img src="../../../assets/img/white-logo.png" class="img-logo img-fluid">
      <p>Your meeting manager</p>
      <hr>
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input formControlName="email" type="email" class="form-control" name="email" id="inputEmail">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input formControlName="password" type="password" class="form-control" name="password" id="inputPassword">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-2">Sign in</button>
    </div>
  </form>
</div>