<div class="row">
    <div class="col-md-12 ideas">
        <div class="title"><h1>Ideas</h1></div>
        <div *ngFor="let i of ideas;let index = index">  
                <div class="row">
                    <div class="col-md-12 card title">
                        <h2>{{i.text}}</h2>
                    </div>
                    <div class="col-md-6 card pros">
                        <div class="col-md-12">
                            <h3>Pros</h3>
                            <div class="col-md-12" *ngFor="let p of i.pros">
                                {{p.pros}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 card cons">
                        <div class="col-md-12">
                            <h3>Cons</h3>
                            <div class="col-md-12" *ngFor="let c of i.cons">
                                {{c.cons}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 card value">
                        <input class="title" type="number" min="1" max="10" [(ngModel)]="votes[index].value">
                    </div>
                </div>
            <br/> 
        </div>
    </div>       
 </div>
<div class="buttons text-center">
    <button class="btn btn-success" (click)="save($event)">Vote</button>
    <button  (click)="finish()" class="btn bt-lg">Finish</button>
</div>