<div class="ideas-container" *ngIf="loaded">
    <div class="ideas-title">
        Step 3: Voting on ideas
    </div>
    <div class="ideas-body">
        <ul class="list-ideas">
            <li *ngFor="let idea of ideas; let index = index">
                <div class="ideas-title">
                    {{index}}. {{idea.text}}                    
                </div>
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="pros-cons">
                        <ul class="list-pros-cons">
                            <li *ngFor="let p of idea.pros" 
                                attr.data-ipro="{{i}}" 
                                class="alert alert-success">
                                <div class="idea">
                                    {{p.pros}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pros-cons">
                        <ul class="list-pros-cons">
                            <li *ngFor="let c of idea.cons" 
                                attr.data-icon="{{i}}" 
                                class="alert alert-danger">
                                <div class="idea">
                                    {{c.cons}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rating-box mx-auto">
                    <input type="number" min="1" max="10" step="1" [(ngModel)]="votes[index].value" class="form-control" required>
                </div>
            </li>
        </ul>
        <div *ngIf="hasVoted==false" class="text-center">
            <button class="btn" (click)="save()">Vote</button>
        </div>
        <div *ngIf="hasVoted==true && participant.role=='LEADER'" class="text-center">
            <button ngConfirm
            [title]="'Finish Meeting Confirmation'"
            [message]="'You are about to end the meeting, check that everyone has voted'"
            [options]="options"
            (onConfirm)="finish()"
            (onCancel)="cancel()" class="btn bt-lg">Finish</button>
        </div>
        <div *ngIf="hasVoted==true && participant.role!='LEADER'" class="text-center">
            <p>Wait until the meeting leader finishes the meeting</p>
        </div>
    </div>
</div>
