.RED{
    background-color: rgb(255, 126, 126);
    border-style: solid;
    border-color: rgb(161, 77, 77);
}
.BLACK{
    background-color: rgba(138, 138, 138, 0.76);
    border-style: solid;
    border-color: rgba(70, 70, 70, 0.425);
}
.BLUE{
    background-color:rgb(124, 185, 255);
    border-style: solid;
    border-color: rgb(76, 121, 172);
}
.WHITE{
    background-color: white;
    border-style: solid;
    border-color: rgb(163, 163, 163);
}
.YELLOW{
    background-color: rgb(255, 255, 133);
    border-style: solid;
    border-color: rgb(179, 179, 26);
}
.GREEN{
    background-color: rgb(137, 173, 96);
    border-style: solid;
    border-color: rgb(66, 104, 24);
}