<h1 class="title-page text-center">
  <span class="capital-letter">S</span>tart <span class="capital-letter">M</span>eeting
</h1>

<form (ngSubmit)="onSubmit(meeting)" class="general-form">
  <div class="row">
    <div class="col-lg-6 col-md-12 form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required [(ngModel)]="meeting.title" class="form-control">
    </div>
    <div class="col-lg-6 col-md-12 form-group">
      <label for="kind">Kind of meeting</label>
      <select id="kind" name="kind" rows="8" [(ngModel)]="selectedKind" class="form-control desc-input">
        <option *ngFor="let kind of kinds" [ngValue]="kind">
          {{kind.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" name="description" rows="4" [(ngModel)]="meeting.description" class="form-control desc-input">
    </textarea>
  </div>
  <div class="form-group">
    <label>Participants</label>
    <p *ngIf="errorListUsers==false && users==null" class="errorList">Loading...</p>
    <div *ngIf="errorListUsers" class="text-center">
      <img src="../../../assets/img/warning_turq.png" width=100px class="img-fluid">
      <p>Try again later</p>
    </div>
    <div *ngIf="errorListUsers==false && users!=null" class="row justify-content-center">
      <div class="search-users col-lg-5 col-md-10 input-group">
          <input placeholder="Search for participants..." type="text" id="search" name="search" class="form-control">
      </div>
    </div>
    <div class="d-flex justify-content-center flex-wrap mt-5">
      <div *ngFor="let us of users; let i=index" class="card">
        <img class="card-img-top" src="{{us.photo}}" alt="Avatar">
        <div class="card-body">
          <h4 class="card-title">{{us.name}}</h4>
          <p class="card-text" *ngFor="let d of us.departments">{{d.organization}} ({{d.name}})</p>
          <div class="push"></div>
          <div class="btn-card">
            <button type="button" [hidden]="hideme[i]" (click)="addAttendant(us); hideme[i] = !hideme[i]" class="btn">
                Add
            </button>
            <button type="button" class="btn">
                Remove
            </button>
          </div>
        </div>          
      </div>
    </div>
  </div>
  <div class="text-center">
    <button [disabled]="!(attendants.length > 0) || !meeting.title || meeting.title.trim() == '' || !meeting.description || meeting.description.trim() == ''" 
            type="submit" class="btn">Next</button>
    <button routerLink=".." class="btn">Cancel</button>
  </div>
</form>
