<h1 class="title-page text-center">
  <span class="capital-letter">S</span>tart <span class="capital-letter">M</span>eeting
</h1>

<form (ngSubmit)="onSubmit(meeting)" class="general-form">
  <div class="row">
    <div class="col-lg-6 col-md-12 form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required [(ngModel)]="meeting.title" class="form-control">
    </div>
    <div class="col-lg-6 col-md-12 form-group">
      <label for="kind">Kind of meeting</label>
      <select id="kind" name="kind" rows="8" [(ngModel)]="selectedKind" class="form-control desc-input">
        <option *ngFor="let kind of kinds" [ngValue]="kind">
          {{kind.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" name="description" rows="4" [(ngModel)]="meeting.description" class="form-control desc-input">
    </textarea>
  </div>
  <div class="form-group">
    <label>Search for participants *</label><br/>
    <span style="font-size: 13px;">* Currently, you can only see users from your department</span>
    <p *ngIf="errorListUsers==false && users==null" class="errorList text-center">Loading...</p>
    <div *ngIf="errorListUsers" class="text-center">
      <img src="../../../assets/img/warning_turq.png" width="100px" class="img-fluid">
      <p>Try again later</p>
    </div>

    <form *ngIf="errorListUsers==false && users!=null">
      <div class="search-users form-group w-100">
          <input type="text" id="search" name="search" (keyup)="search();" 
                  [formControl]="searchField" placeholder="name, username or email" class="form-control w-100">
      </div>
    </form>

    <div class="text-center mt-3">Participants</div>
    <div class="d-flex justify-content-center flex-wrap mt-3">
      <div *ngFor="let us of thumbnail" class="text-center mx-2">
          <div class="thumbnail-container" (click)="removeAttendant(us);">
            <img attr.src="{{us.photo}}" class="img-fluid avatar">           
            <div class="after"><b>X</b></div>    
          </div>          
          <span class="d-block">{{us.name}}</span>
      </div>
    </div>
    <hr>
    <div class="text-center mt-3">Potential participants</div>
    <div class="d-flex justify-content-center flex-wrap mt-3">
      <div *ngFor="let us of results | async; let i=index" [hidden]="us.id==getLoginService().getPrincipal().id" class="card">

          <img class="img-fluid card-img-top" src="{{us.photo}}" alt="Avatar">
          <div class="card-body">
            <h4 class="card-title">{{us.name}}</h4>
            <p class="card-text" *ngFor="let d of us.departments">{{d.organization}} ({{d.name}})</p>
            <div class="push"></div>
            <div *ngIf="!exists(us)" class="btn-card text-center">
              <button type="button" (click)="addAttendant(us);" class="btn">
                  <i class="fas fa-user-plus"></i> Add
              </button>
            </div>
            <div *ngIf="exists(us)" class="btn-card text-center">
              <button type="button" (click)="removeAttendant(us);" class="btn">
                <i class="fas fa-user-times"></i> Remove
              </button>
            </div>
          </div>   

      </div>
    </div>
  </div>
  <div class="text-center">
    <button [disabled]="!(thumbnail.length >= 0) || !meeting.title || meeting.title.trim() == '' || !meeting.description || meeting.description.trim() == ''" 
            type="submit" class="btn">Next</button>
    <button routerLink=".." class="btn">Cancel</button>
  </div>
</form>
