
.title{
    text-align: center;
    width: 100%;
}

.server-action-menu {
    background-image: linear-gradient(to bottom, rgba(0, 169, 143, 1) 0%, rgba(219, 219, 219, 1) 100%);
    background-repeat: repeat;
    border-radius:10px;
    padding: 5px;
}

.info-panel {
    padding: 4px;
}