
<div class="row">
  <div class="col-md-12 mx-auto mt-3">
    <div class="card mx-auto pt-3 pb-3">
      <div item-width="100%" class="mx-auto">
        <h2 class="participants"><span class="letter">M</span>inutes of {{meeting.title}}</h2>
      </div>
      <form class="form mt-3">

        <div class="container">
          <fieldset>
            <div *ngFor = "let agenda of agendas">
                <label for="title" class="title" >Agenda: {{agenda.description}}</label><br/> 

                <fieldset>
                  <div *ngFor = "let co of agenda.conclusions">
                  <label for="title" class="title" >Conclussion: {{co.conclusion}}</label><br/> 
                </div>
                </fieldset>
            </div>
          </fieldset>

        </div>


        <br/>

        <div class="buttons text-center">
            <button routerLink="../../meeting" class="btn bt-lg">New meeting</button>
            <button routerLink="../../" class="btn bt-lg">Finish</button>
        </div>

      </form>
    </div>
  </div>
</div>

