.paypal-transaction{
    min-width: 250px;
    text-align: center;
    h4{
        color:#333;
    }
    h6{
        color: #00a98f;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
    }
}

.sub-contact{
    padding-bottom: 30px;
    color: #00a98f;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.contact a{
    color: #333;
}

.enterprise{
    color: #333;
}

.thumbnail{
    height: 350px;
    text-align: center;
    h2{
        color: #333;
    }
    .list-group{
        margin: 0 auto;
        width: 60%;
    }
    border: 1px lighten(black,90%) solid;
}

.list-group{
    border-bottom: 1px lighten(black,90%) solid;
}

.item{
    background-color: white;
    color: #333;
    border: none;
    font-style: oblique;
}

.row{
    text-align:center;
}

.price, .price a{
    color: #00a98f;
    font-weight: bolder;
}