
.agenda {
    padding: 1em;
}

.points {
    width: 100%;
    border: 1px black solid;
    background: white;
    margin: 1em 0;
    padding: 0.2em;
    font-weight: bold;
}

.glyphicon .glyphicon-triangle-right{
    color:white;
}