<div class="videoContainer mx-auto justify-content-center text-center w-75 mt-1">
  <video id="localVideo" style="height: 150px;" oncontextmenu="return false;"></video>
  <div id="localVolume" class="volume_bar"></div>
</div>
<div class="buttonContainer mx-auto justify-content-center text-center">
  <button title="Mute" id="btn1" class="btn"><i class="fas fa-microphone-slash"></i></button>
  <button title="Unmute" id="btn2" class="btn"><i class="fas fa-microphone"></i></button>
</div>
<div id="remotesVideo" class="mt-5"></div>