<h2>Pros and cons to the ideas</h2>

<div class="ideas-container">
    <div class="ideas-title">
        Ideas
    </div>
    <div class="ideas-body">
        <ul class="list-ideas">
            <li *ngFor="let idea of ideas; let ii = index">
                <div class="ideas-title">
                    {{ii+1}}. {{idea.text}}                    
                </div>
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <button class="btn" (click)="addPro($event)">
                            Add pros
                        </button>
                        <ul class="list-pros">
                            <li *ngFor="let p of idea.pros; let i = index" 
                                attr.contenteditable="{{hasEdit}}" attr.data-iidea="{{idea.number}}" 
                                attr.data-ipro="{{i}}" 
                                (focusout)="editPro($event)" (keydown)="enter($event)"
                                class="alert alert-success">
                                <i class="fas fa-check" aria-hidden="true"></i> {{p.pros}}
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button class="btn" (click)="addCon($event)" attr.data-index="{{idea.number}}">
                            Add cons
                        </button>
                        <ul class="list-cons">
                            <li *ngFor="let c of idea.cons; let i = index" 
                                attr.contenteditable="{{hasEdit}}" attr.data-iidea="{{idea.number}}" 
                                attr.data-icon="{{i}}" 
                                (focusout)="editCon($event)" (keydown)="enter($event)"
                                class="alert alert-danger">
                                <i class="fas fa-times" aria-hidden="true"></i> {{c.cons}}
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="text-center">
            <button (click) = "next()" class="btn">Next step</button>
        </div>
    </div>
</div>