.idea {
    float: right;
    position: relative;
}

.ideas {
    position: relative;
}

.letter {
    color:#00A98F;
}

.points {
    width: 100%;
    border: 1px black solid;
    background: white;
    margin: 1em 0;
    padding: 0.2em;
    font-weight: bold;
    margin-top: 7%;

    span {
        float: left;
    }
}

.addCon {
    float: right;
    margin-left: 5%;
    margin-top: 1%;
    background: red;
}

.addPro {
    float: left;
    margin-top: 1%;
}

.clear {
    clear: both;
}

.glyphicon .glyphicon-triangle-right{
    color:white;
}

