<h1 class="title-page text-center">
  <span class="capital-letter">M</span>y <span class="capital-letter">O</span>rganizations
</h1>

<div *ngFor="let organization of organizations; let i=index">
  <div class="item-wrapper mx-auto">
    <div class="header-wrapper">
      {{organization.enterprise}}
    </div>
    <div class="content-wrapper">
        <button type="button" (click)="show[i] = !show[i]" class="btn">
          Toggle
        </button>
        <button type="button" (click)="editOrganization(organization.id)" class="btn">
          Edit
        </button>

        <div [hidden]="!show[i]">
          <div>
            <img src="{{organization.logo}}" alt="Error to load logo" class="img-fluid logo">
          </div>
          <label><strong>Description:</strong></label> 
          <p>{{organization.description}}</p>
          <label><strong>Address:</strong></label> 
          <p>{{organization.address}}</p>
          <label><strong>Phone number:</strong></label> 
          <p>{{organization.phone}}</p>
          <label><strong>Email:</strong></label> 
          <p>{{organization.email}}</p>
          <h3 class="text-center">
            Departments
          </h3>
          <div *ngFor="let department of organization.departments; let j=index" class="table">
            <label><strong>{{j+1}}. {{department.name}}</strong></label>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Photo</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <tbody *ngFor="let us of department.users; let z=index">
                <tr>
                  <th scope="row">{{z+1}}</th>
                  <td><img src="{{us.photo}}" class="img-fluid avatar"></td>
                  <td>{{us.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
