/* CHAT */
div.chat-parent {
    ul.chat-msg-list {
        height: 60vh;
        margin: 0;
        border: 1px solid $content_border;
        padding: 0rem 0 0.75rem;
        background-color: white;
        list-style-type: none;
        overflow-y: auto;
        word-wrap: break-word;
    
        li {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        div.msg-container {
            padding-top: 0.75rem;
        }
    }

    form.form-chat {
        max-height: 4rem;
        padding: 0;
        border: 0;
        background: transparent;
    
        div.chat-input {
            width: 80%;
            border: 1px solid $content_border;
            border-top: 0;
            padding: 0.4rem 0.75rem;
            background: white;
            overflow-y: scroll;
            word-wrap: break-word;
        }
    
        button.send {
            width: 20%;
        }
    }
}