/* C O L O R S */

/* Master page */
$mp_primary_color: #333333;
$mp_secondary_color: #00a98f;
$mp_font_color: #fff;

/* Content */
$content_background_color: #fafafa;
$content_background_color_2: #d4d4d4;
$content_border: #ced4da;

/* Buttons */
$button: #333333;
$button_2: #d4d4d4;
$button_hover: #00a98f;
$button_font_color: #fff;
$button_font_color_2: #000;

/* Item wrapper */
$header_wrapper_color: #333333;
$content_wrapper_color: #d4d4d4;

/* 6 Hats */
$red_hat: #dc3545;
$red_hat_border: #721c24;
$blue_hat: #007bff;
$blue_hat_border: #004085;
$black_hat: #000;
$black_hat_border: #1b1e21;
$white_hat: #fff;
$white_hat_border: #818182;
$yellow_hat: #ffc107;
$yellow_hat_border: #856404;
$green_hat: #28a745;
$green_hat_border: #155724;