/* C O L O R S */

/* Master page */
$mp_primary_color: #333333;
$mp_secondary_color: #00a98f;
$mp_font_color: #fff;

$capital-letter: #00a98f;
$content-background-color: #fafafa;
$border: #ced4da;

$button: #333333;
$button_hover: #00a98f;
$button_font_color: #fff;

/* A eliminar */
$primary-font-color: #fff;
$primary-background-color: #333333;
$secondary-background-color: #00a98f;
$secondary-font-color: #000;