/* F O R M */
form.general-form {
    border: 1px solid $border;
    border-radius: 5px;
    padding: 1.25rem 2.5rem;

    div.card {
        max-width: 14rem;
        margin: 0 1.5rem 1.5rem 0.5rem;

        div.push {
            height: 3rem;
        }

        div.btn-card {
            position: absolute;
            bottom: 0;

            button {
                margin-bottom: 2rem;
            }
        }
    }

    button.btn {
        border: none;
        border-radius: 0;
        color: $button_font_color;
        font-weight: bold;
        background-color: $button;    
    }
    
    button.btn:hover:not([disabled=""]) {
        background-color: $button_hover;
    }
}

div.login-form form {
    height: 100%;
    /*border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;*/
    padding: 1.25rem 2.5rem;
    background-color: #333;
    color: #fff;
}

div.login-form form img.img-logo {
    max-width: 9.375rem;
}

div.login-form form hr {
    margin-bottom: 1.875rem;
    background-color: #e6e6e6;    
}

button.btn-2 {
    border: none;
    border-radius: 0;
    color: $primary-font-color;
    font-weight: bold;
    background-color: $secondary-background-color;
    transition: all .2s ease-in; 
}

button.btn-2:hover {
    color: $secondary-font-color;
    background-color: $content-background-color;
}