/* G E N E R A L */
html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $content_background_color;
}

div.page-wrapper {
    position: relative;
    max-width: 100%;
    min-height: 100%;

    div.content {
        padding: 2rem 1.5rem 4.5rem;
    
        @media only screen and (max-width: 991px) {
            padding-bottom: 9rem;
        }
    }
}

/* Titles */
h1.title-page {
    margin: 0 0 2rem;
    font-weight: bold;

    span.capital-letter {
        color: $mp_secondary_color;
    }
}

h2.subtitle {
    font-size: 1.125rem;
    margin-bottom: 1.2rem;
}

/* Button */
button.btn {
    border: none;
    border-radius: 0;
    color: $button_font_color;
    font-weight: bold;
    background-color: $button;
    transition: all .2s ease-in;   
}

button.btn:hover:not([disabled=""]) {
    background-color: $button_hover;
}

/* Item wrapper */
div.item-wrapper {
    margin: 1rem 0;

    div.header-wrapper {
        padding: 1rem;
        color: $mp_font_color;
        font-weight: bolder;
        background-color: $header_wrapper_color;
    }

    div.content-wrapper {
        padding: 1rem;
        background-color: $content_wrapper_color;

        div.item-content {
            width: 45%;
            margin-bottom: 1rem;
    
            span.item-title {
                font-weight: bolder;
            }
    
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}

/* Card */
div.card {
    margin: 1.5rem 2rem;

    div.card-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0.5rem 0.9rem;
        background-color: $mp_primary_color;

        h4.card-title {
            margin: 0;
            font-size: 2em;
            color: white;
            font-size: bolder;
        }
    }
    
    div.card-body {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 1.5rem 4rem;

        p.card-price {
            margin: 1.2rem 0;
            font-size: 1.8rem;
            font-weight: bolder;
            color: $mp_secondary_color;
        }
    }

    div.card-body-2 {
        max-width: 9rem;
        padding: 0 0.5rem;
        word-wrap: break-word;
    }

    @include media-breakpoint-down(md) {
        margin: 1.5rem 0.3rem;
    }
}

/* Helper class */
.shadow {
	box-shadow: 0px 1px 5px 0px #4a4a4a;
}

img.logo {
    max-width: 7.5rem;
}

img.avatar {
    width: 3.75rem;
    height: 3.75rem;
    border: 2px solid $mp_secondary_color;
    border-radius: 50%;
}

img.not-present {
    border: 2px solid red !important;
}