/* G E N E R A L */
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    background-color: $content_background_color;
}

div.content {
    padding: 1.5rem 0;
}

h1.title-page {
    margin: 0 0 1.5rem;

    span.capital-letter {
        color: $content_letter_title;
    }
}