/* MEETING */

/* GENERAL */
div.info-meeting-bar {
    position: fixed;
    top: 3.375rem;
    left: 0;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem;
    background-color: $content_background_color_2;
    z-index: 99;

    @include media-breakpoint-down(md) {
        top: 3.75rem;
        padding: 0.5rem;
    }

    span.timer {
        font-size: 1.2rem;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

button.toggle-btn,
button.toggle-btn:hover {
    color: white;
    background-color: $button_hover;
}

div.meeting-wrapper {
    padding-top: 1.75rem;
}

div.meeting-wrapper-chat {
    margin-right: 25em;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

div.ideas-container {
    div.ideas-title {
        padding: 0.75rem;
        color: $mp_font_color;
        font-size: 1.2rem;
        font-weight: bolder;
        background-color: $mp_primary_color;
    }

    div.ideas-body {
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $content_border;

        div.ideas-title {
            margin-bottom: 1rem;
            color: black;
            background-color: $content_background_color_2;
        }

        ul.list-ideas {
            list-style-type: none;
            border-collapse: collapse;
            padding: 0;
    
            li {
                border-bottom: 1px solid $content_border;
                padding: 0.75rem;
    
                .idea {
                    width: 80%;
                }
    
                input.idea,
                textarea.idea {
                    padding: 0.3rem;
                }
    
                div.idea {
                    padding: 0.5rem;
                    word-wrap: break-word;
                }
        
                div.options-ideas {
                    padding: 0.3rem 0;
    
                    button {
                        width: 36px;
                        height: 36px;
                    }
                }

                div.pros-cons {
                    width: 45%;

                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }

                    ul.list-pros-cons {
                        list-style-type: none;
                        border-collapse: collapse;
                        padding: 0;

                        li {
                            margin: 1rem 0;
                            padding: 0.75rem;
                            word-wrap: break-word;

                            textarea {
                                width: 100%;
                                padding: 0.3rem;
                                resize: none;
                                overflow-y: auto;
                            }

                            div.idea {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Meeting minutes */
div.subtitle {
    padding: 0.75rem;
    color: $mp_font_color;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: $mp_primary_color;
}

div.minutes-container {
    margin-bottom: 3rem;
    border: 1px solid $content_border;
    padding: 0.5rem;
    word-wrap: break-word;
    background-color: $content_background_color_2;

    div.summary-item {
        width: 45%;
        margin-bottom: 1rem;

        span.summary-item-title {
            font-weight: bolder;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    div.summary-item:last-child {
        width: 100%;
    }

    div.point-container {
        margin: 0.5rem;
        border: 1px solid $content_border;
        padding: 0.5rem;
        background-color: white;
    }

    img.card-img-top {
        max-width: 9rem;
        margin: auto;
    }
}