/* MEETING */

/* GENERAL */
div.info-meeting-bar {
    position: fixed;
    top: 3.375rem;
    left: 0;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem;
    background-color: $content_background_color_2;
    z-index: 99;

    @include media-breakpoint-down(md) {
        top: 3.75rem;
        padding: 0.5rem;
    }

    span.timer {
        font-size: 1.2rem;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

div.info-meeting-header {
    padding: 0rem 1rem !important;
}

div.meeting-wrapper {
    padding-top: 1.75rem;
}

div.meeting-wrapper-chat {
    margin-right: 25em;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

div.ideas-container {
    div.ideas-title {
        padding: 0.75rem;
        color: $mp_font_color;
        font-size: 1.2rem;
        font-weight: bolder;
        background-color: $mp_primary_color;

        div.text-cap {
            font-size: 2.5rem;
        }
    }

    div.ideas-body {
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $content_border;

        div.ideas-title {
            margin-bottom: 1rem;
            color: black;
            background-color: $content_background_color_2;
        }

        ul.list-ideas {
            list-style-type: none;
            border-collapse: collapse;
            padding: 0;
    
            li {
                border-bottom: 1px solid $content_border;
                padding: 0.75rem;
    
                .idea {
                    width: 80%;
                }
    
                input.idea,
                textarea.idea {
                    padding: 0.3rem;
                }
    
                div.idea {
                    padding: 0.5rem;
                    word-wrap: break-word;
                }
        
                div.options-ideas {
                    padding: 0.3rem 0;
    
                    button {
                        width: 36px;
                        height: 36px;
                    }
                }

                div.pros-cons {
                    width: 45%;

                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }

                    ul.list-pros-cons {
                        list-style-type: none;
                        border-collapse: collapse;
                        padding: 0;

                        li {
                            margin: 1rem 0;
                            padding: 0.75rem;
                            word-wrap: break-word;

                            textarea {
                                width: 100%;
                                padding: 0.3rem;
                                resize: none;
                                overflow-y: auto;
                            }

                            div.idea {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        ul.list-ideas-6-hats {
            display: flex;
            flex-wrap: wrap;
           
            div.alert-danger {
                @extend %border-danger;
        
                li {
                    @extend %border-danger;
                }
            }
        
            div.alert-dark {
                @extend %border-dark;
        
                li {
                    @extend %border-dark;
                }
            }
        
            div.alert-primary {
                @extend %border-primary;
        
                li {
                    @extend %border-primary;
                }
            }
        
            div.alert-light {
                @extend %border-light;
        
                li {
                    @extend %border-light;
                }
            }
        
            div.alert-warning {
                @extend %border-warning;
        
                li {
                    @extend %border-warning;
                }
            }
        
            div.alert-success {
                @extend %border-success;
        
                li {
                    @extend %border-success;
                }
            }
            
            div.first-one {
                order: 1;
            }
            div.not-first-one {
                order: 2;
            }
            div.hat-container {
                width: 100%;
            }   
        }
    }

    div.rating-box {
        width: 5rem;
    }

    div.gray-background {
        color: black;
        background-color: #d4d4d4 !important;
    }
}

/* Meeting minutes */
div.subtitle {
    padding: 0.75rem;
    color: $mp_font_color;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: $mp_primary_color;
}

div.minutes-container {
    margin-bottom: 3rem;
    border: 1px solid $content_border;
    padding: 0.5rem;
    word-wrap: break-word;
    background-color: $content_background_color_2;

    div.summary-item {
        width: 45%;
        margin-bottom: 1rem;

        span.summary-item-title {
            font-weight: bolder;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    div.summary-item:last-child {
        width: 100%;
    }

    div.point-container {
        margin: 0.5rem;
        border: 1px solid $content_border;
        padding: 0.5rem;
        background-color: white;
    }

    div.alert {
        ul {
            padding-left: 1.5rem;
        }

        &-light {
            color: black !important;
        }

        &-dark {
            border-color: #333 !important;
        }
    }

    img.card-img-top {
        max-width: 9rem;
        margin: auto;
    }
}

/* 6 hats */
.RED{
    background-color: rgb(255, 126, 126);
    border-style: solid;
    border-color: rgb(161, 77, 77);

    &-hat {
        color: $red_hat;
    }
}

.BLACK{
    background-color: rgba(138, 138, 138, 0.76);
    border-style: solid;
    border-color: rgba(70, 70, 70, 0.425);

    &-hat {
        color: $black_hat;
    }
}

.BLUE{
    background-color:rgb(124, 185, 255);
    border-style: solid;
    border-color: rgb(76, 121, 172);

    &-hat {
        color: $blue_hat;
    }
}

.WHITE{
    background-color: white;
    border-style: solid;
    border-color: rgb(163, 163, 163);

    &-hat {
        color: $white_hat;
    }
}

.YELLOW{
    background-color: rgb(255, 255, 133);
    border-style: solid;
    border-color: rgb(179, 179, 26);

    &-hat {
        color: $yellow_hat;
    }
}

.GREEN{
    background-color: rgb(137, 173, 96);
    border-style: solid;
    border-color: rgb(66, 104, 24);

    &-hat {
        color: $green_hat;
    }
}

%border-danger {
    border-color: $red_hat_border !important;
}

%border-dark {
    border-color: $black_hat_border !important;
}

%border-primary {
    border-color: $blue_hat_border !important;
}

%border-light {
    border-color: $white_hat_border !important;
}

%border-warning {
    border-color: $yellow_hat_border !important;
}

%border-success {
    border-color: $green_hat_border !important;
}