/* MEETING */
div.point-container {
    margin-bottom: 2rem;

    div.points {
        width: 100%;
        border: 1px solid $content_border;
        background: white;
        margin: 1em 0;
        padding: 0.2em;
        font-weight: bold;
    
        span {
            float: left;
        }
    }

    ul.input-container {
        margin: 0;
        padding: 0.5rem 0.5rem 0.5rem 2.5rem;
        border: 1px solid $content_border;
        background: white;
        word-wrap: break-word;
    }
}