/* M E N U */
nav.navbar {
    padding: 0;
    background-color: $mp_primary_color !important;
    z-index: 101;

    a.navbar-brand img {
        height: 1.875rem;
        width: auto;
    }

    @media only screen and (max-width: 991px) {
        a.navbar-brand img {
            margin: 0 1.2rem;
        }
    }

    button.navbar-toggler {
        margin: 0.625rem 1.2rem;
    }

    a.nav-link {
        padding: 0.9375rem 1.5em !important;
        color: $mp_font_color !important;
        transition: all .2s ease-in;

        i.notification {
            color: $content_background_color;
        }

        &:hover {
            background-color: $mp_secondary_color;
    
            i.notification {
                color: $mp_font_color;
            }
        }
    }

    div.dropdown-menu {
        background-color: $content_background_color;

        div.row-notification {
            a.info-notification {
                border-left: 1px solid $content_background_color_2;
                border-bottom: 1px solid $content_background_color_2;

                @include media-breakpoint-down(lg) {
                    width: calc(100% - 2.25rem) !important;
                }

                @include media-breakpoint-up(lg) {
                    max-width: 30rem;
                }
            }
            
            &:first-child {
                a.info-notification {
                    border-top: 1px solid $content_background_color_2;
                }
            }
        }

        a.dropdown-item:hover,
        a.dropdown-item:focus,
        a.dropdown-item:active {
            color: inherit;
            background-color: $content_background_color_2;
        }
    }

    @include media-breakpoint-down(lg) {
        .wrapper-width-fixed {
            max-width: calc(100%) !important;    
        }        
    }
}