/* Welcome */
div.home-container {
    div.welcome-info {
        margin: 0 3rem;
        border-radius: 5px;
        padding: 1.5rem 2.5rem;
        background-color: $mp_primary_color; 
        color: $mp_font_color;

        img.img-logo {
            max-width: 9.375rem;
        }
        
        hr {
            margin-bottom: 1.875rem;
            background-color: $content_border;
        }

        blockquote.blockquote {
            margin-top: 2rem;

            div.blockquote-footer {
                color: #d4d4d4;
            }
        }
    }
    div.quote-container {
        margin: 3rem;
        border: 1px solid $content_border;
        padding: 1.5rem 2.5rem;
    }

    @include media-breakpoint-down(sm) {
        div.welcome-info,
        div.quote-container {
            margin: 0;
        }
    }
}