<div *ngIf="loaded">
    <!-- User connection alerts -->
    <div id="alerts"></div>
    <!-- Info meeting bar -->
    <div class="info-meeting-bar shadow">
        <div class="container d-flex justify-content-between">
            <!-- Timer -->
            <span *ngIf="meetingInfo.status == 0" class="font-weight-bold text-info-meeting-bar">
                Waiting room
            </span>
            <chronometer *ngIf="meetingInfo.status > 0" [meetingId]="meetingId" (change)="changeChronometer($event)"></chronometer>
            <div>
                <!-- Chat button -->          
                <button *ngIf="!showChat" type="button" (click)="toggleChat();" class="btn">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-pill badge-danger badge-chat">{{ unreadedMsg }}</span>
                </button>
                <!-- Video button -->
                <button *ngIf="!showVideo" type="button" (click)="toggleVideo();" class="btn">
                    <i class="fas fa-video"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Meeting content -->
    <div class="meeting-wrapper" [ngClass]="showChat || showVideo ? 'meeting-wrapper-chat' : ''">
        <h1 class="title-page text-center" *ngIf="meetingInfo.type === 'standard'">
            <span class="capital-letter">S</span>tandard <span class="capital-letter">M</span>eeting
        </h1>
        <h1 class="title-page text-center" *ngIf="meetingInfo.type === 'six-hats'">
            <span class="capital-letter">S</span>ix <span class="capital-letter">H</span>ats <span class="capital-letter">M</span>eeting
        </h1>
        <h1 class="title-page text-center" *ngIf="meetingInfo.type === 'brainstorming'">
            <span class="capital-letter">B</span>rainstorming <span class="capital-letter">M</span>eeting
        </h1>

        <!-- Info meeting -->
        <div class="item-wrapper mx-auto mb-5">
            <div class="header-wrapper info-meeting-header d-flex justify-content-between flex-wrap">
                <h5 class="mt-1">Meeting information</h5>
                <button *ngIf="showInfo" type="button" (click)="toggleInfo();" class="btn">
                    <i class="fas fa-arrow-up"></i>
                </button>
                <button *ngIf="!showInfo" type="button" (click)="toggleInfo();" class="btn">
                    <i class="fas fa-arrow-down"></i>
                </button>
            </div>
            <div *ngIf="showInfo" class="content-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <label>
                            <strong>Topic</strong>
                        </label> 
                        <p>
                            {{meetingInfo.title}}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label>
                            <strong>Description</strong>
                        </label> 
                        <p>
                            {{meetingInfo.description}}
                        </p>
                    </div>
                </div>                
                <label><strong>Participants</strong></label> 
                <div class="d-flex flex-wrap">
                    <div *ngFor="let att of meetingInfo.attendants" class="text-center mx-2">
                        <img *ngIf="att.hasAttended" attr.src="{{att.photo}}" class="img-fluid avatar">
                        <img *ngIf="!att.hasAttended" attr.src="{{att.photo}}" class="img-fluid not-present avatar">                        
                        <span class="d-block">{{att.name}}</span>
                    </div>
                </div>
                <div *ngIf="meetingInfo.status == 0">
                    <label class="mt-3"><strong>About the meeting</strong></label>
                    <div *ngIf="meetingInfo.type === 'standard'">
                        A standard meeting has an agenda that will be discussed by the participants. 
                        For each agenda item, the appropriate conclusions will be drawn.
                    </div>
                    <div *ngIf="meetingInfo.type === 'six-hats'">
                        A six hats meeting is based on a methodology proposed by the Maltese Edward de Bono 
                        for group decision-making. To this end, the session leader proposes a topic 
                        for discussion. The meeting is divided into two-minute turns, which can be extended 
                        by the leader. During these turns, each participant will be assigned a different hat 
                        and will give their opinion on the proposed topic depending on the hat assigned. In total 
                        there are six hats:
                        <div class="alert bg-white my-3">
                            <p><i class="fas fa-graduation-cap"></i> White hat</p>
                            <p>It is a hat to think in the most objective and neutral way possible.</p>
                        </div>
                        <div class="alert alert-danger my-3">
                            <p><i class="fas fa-graduation-cap"></i> Red hat</p>
                            <p>To express our feelings, without the need for justification.</p>
                        </div>
                        <div class="alert alert-dark my-3">
                            <p><i class="fas fa-graduation-cap"></i> Black hat</p>
                            <p>To be critical in a cautious way and think about why something might not go right.</p>
                        </div>
                        <div class="alert alert-warning my-3">
                            <p><i class="fas fa-graduation-cap"></i> Yellow hat</p>
                            <p>Unlike the black hat, this one tries to look for the positive aspects of a certain situation or fact.</p>
                        </div>
                        <div class="alert alert-success my-3">
                            <p><i class="fas fa-graduation-cap"></i> Green hat</p>
                            <p>Opens up creative possibilities and is closely related to your idea of lateral or divergent thinking.</p>
                        </div>
                        <div class="alert alert-info my-3">
                            <p><i class="fas fa-graduation-cap"></i> Blue hat</p>
                            <p>It controls the rest of the hats; it controls the timing and order of the hats.</p>
                        </div>
                    </div>
                    <div *ngIf="meetingInfo.type === 'brainstorming'">
                        A brainstorming meeting consists of three steps:
                        <ol class="mt-2">
                            <li> Participants will freely contribute ideas on a topic proposed by the session leader.</li>
                            <li> Participants will contribute pros and cons on the ideas provided in the previous step. This will make it possible to study these ideas.</li>
                            <li> Participants will rate each of the ideas with a value between 1 and 10 based on the pros and cons provided in the previous step.</li>
                        </ol>                    
                    </div>
                </div>          
            </div>
        </div>
        <waiting-room  *ngIf= "meetingInfo.status == 0" [meetingId]= "meetingId" [meetingInfo] = "meetingInfo" (nextStep)="nextStep($event)"></waiting-room>
        <div [ngClass]="{'meeting-stoped': stoped}" id="meeting-disabled">
            <standard *ngIf="!meetingInfo.isFinished && meetingInfo.type === 'standard' && meetingInfo.status > 0" 
                    [meetingInfo]= "meetingInfo" [meetingId]="meetingId" [attendants]="users" 
                    (finish) = "finishMeeting($event)" (next) = "nextStep($event)">
            </standard>
            <six-hats *ngIf="!meetingInfo.isFinished && meetingInfo.type === 'six-hats' && meetingInfo.status > 0" 
                        [meetingInfo]= "meetingInfo" [meetingId]="meetingId" [attendants]="users" 
                        (finish) = "finishMeeting($event)" (next) = "nextStep($event)" [stoped]="stoped">
            </six-hats>
            <brainstorming *ngIf="!meetingInfo.isFinished && meetingInfo.type === 'brainstorming' && meetingInfo.status > 0" 
                            [meetingInfo]= "meetingInfo" [meetingId]="meetingId" [attendants]="meetingInfo.attendats" 
                            (finish) = "finishMeeting($event)" (next) = "nextStep($event)">
            </brainstorming>
        </div>
    </div>

    <!-- Chat -->
    <div class="chat-wrapper" [ngClass]="showChat ? 'shadow' : 'd-none'">
        <div class="upper-chat d-flex justify-content-between">
            <span>Chat</span>
            <button type="button" (click)="toggleChat();" class="btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <chat (messageEvent)="receiveEventChat($event)"></chat>
    </div>
    <!-- Video -->
    <div class="chat-wrapper" [ngClass]="showVideo ? 'shadow' : 'd-none'">
        <div class="upper-chat d-flex justify-content-between">
            <span>Video</span>
            <button type="button" (click)="toggleVideo();" class="btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <videoconferences *ngIf="showVideo" [idRoomMeeting]="meetingId"></videoconferences>
    </div>
</div>