<!-- Info meeting bar -->
<div class="info-meeting-bar d-flex justify-content-between shadow">
    <!-- Timer -->
    <span class="timer"><i class="far fa-clock"></i> <chronometer></chronometer></span>
    <!-- Chat button -->
    <button *ngIf="showChat" type="button" (click)="toggleChat();" class="btn">
        <i class="fas fa-times"></i>&nbsp; Chat
    </button>
    <button *ngIf="!showChat" type="button" (click)="toggleChat();" class="btn">
        <i class="far fa-comments"></i>&nbsp; Chat
    </button>
</div>

<!-- Meeting content -->
<div class="meeting-wrapper" [ngClass]="showChat ? 'meeting-wrapper-chat' : ''">
    <h1 class="title-page text-center" *ngIf="meetingInfo.type === 'standard'">
        <span class="capital-letter">S</span>tandard <span class="capital-letter">M</span>eeting
    </h1>
    <h1 class="title-page text-center" *ngIf="meetingInfo.type === 'six-hats'">
        <span class="capital-letter">S</span>ix <span class="capital-letter">H</span>ats <span class="capital-letter">M</span>eeting
    </h1>
    <h1 class="title-page text-center" *ngIf="meetingInfo.type === 'brainstorming'">
        <span class="capital-letter">B</span>rainstorming <span class="capital-letter">M</span>eeting
    </h1>
    <standard *ngIf="!meetingInfo.isFinished && meetingInfo.type === 'standard'" 
                [meetingInfo]= "meetingInfo" [meetingId]="meetingId" [attendants]="users" 
                (finish) = "finishMeeting($event)" (next) = "nextStep($event)">
    </standard>
    <six-hats *ngIf="!meetingInfo.isFinished && meetingInfo.type === 'six-hats'" 
                [meetingInfo]= "meetingInfo" [meetingId]="meetingId" [attendants]="users" 
                (finish) = "finishMeeting($event)" (next) = "nextStep($event)">
    </six-hats>
    <brainstorming *ngIf="!meetingInfo.isFinished && meetingInfo.type === 'brainstorming'" 
                    [meetingInfo]= "meetingInfo" [meetingId]="meetingId" [attendants]="meetingInfo.attendats" 
                    (finish) = "finishMeeting($event)" (next) = "nextStep($event)">
    </brainstorming>
</div>

<!-- Chat -->
<div class="chat-wrapper" [ngClass]="showChat ? 'shadow' : 'd-none'">
    <chat></chat>
</div>