<div *ngIf="loaded">
    <!-- Attendant connected -->
    <div *ngIf="currentAttendant!=null" class="alert alert-dismissible alert-success mt-5" style="border-radius:10px;position:absolute;width:320px;left:50%;margin-left:-160px;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{currentAttendant}}</strong> has joined to meeting
    </div>
    <!-- Info meeting bar -->
    <div class="info-meeting-bar shadow">
        <div class="container d-flex justify-content-between">
            <!-- Timer -->
            <!--<chronometer *ngIf="meetingInfo.status > 0" [meetingId]="meetingId" (change)="changeChronometer($event)"></chronometer>-->
            <div>
                <!-- Chat button -->          
                <button *ngIf="!showChat" type="button" (click)="toggleChat();" class="btn">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-pill badge-danger badge-chat">{{ unreadedMsg }}</span>
                </button>
                <!-- Video button -->
                <button *ngIf="!showVideo" type="button" (click)="toggleVideo();" class="btn">
                    <i class="fas fa-video"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Meeting content -->
    <div class="meeting-wrapper" [ngClass]="showChat || showVideo ? 'meeting-wrapper-chat' : ''">
        <h1 class="title-page text-center" *ngIf="meetingInfo.type === 'standard'">
            <span class="capital-letter">S</span>tandard <span class="capital-letter">M</span>eeting
        </h1>
        <h1 class="title-page text-center" *ngIf="meetingInfo.type === 'six-hats'">
            <span class="capital-letter">S</span>ix <span class="capital-letter">H</span>ats <span class="capital-letter">M</span>eeting
        </h1>
        <h1 class="title-page text-center" *ngIf="meetingInfo.type === 'brainstorming'">
            <span class="capital-letter">B</span>rainstorming <span class="capital-letter">M</span>eeting
        </h1>

        <!-- Info meeting -->
        <div class="item-wrapper mx-auto mb-5">
            <h4>Meeting information</h4>
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <label>
                            <strong>Topic</strong>
                        </label> 
                        <p>
                            {{meetingInfo.title}}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label>
                            <strong>Description</strong>
                        </label> 
                        <p>
                            {{meetingInfo.description}}
                        </p>
                    </div>
                </div>
                <label><strong>Participants</strong></label> 
                <div class="d-flex flex-wrap">
                    <div *ngFor="let att of meetingInfo.attendants" class="text-center mx-2">
                        <img *ngIf="att.hasAttended" attr.src="{{att.photo}}" class="img-fluid avatar">
                        <img *ngIf="!att.hasAttended" attr.src="{{att.photo}}" class="img-fluid not-present avatar">                        
                        <span class="d-block">{{att.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <waiting-room  *ngIf= "meetingInfo.status == 0" [meetingId]= "meetingId" [meetingInfo] = "meetingInfo" (nextStep)="nextStep($event)"></waiting-room>
        <div [ngClass]="{'meeting-stoped': stoped}" id="meeting-disabled">
            <standard *ngIf="!meetingInfo.isFinished && meetingInfo.type === 'standard' && meetingInfo.status > 0" 
                    [meetingInfo]= "meetingInfo" [meetingId]="meetingId" [attendants]="users" 
                    (finish) = "finishMeeting($event)" (next) = "nextStep($event)">
            </standard>
            <six-hats *ngIf="!meetingInfo.isFinished && meetingInfo.type === 'six-hats' && meetingInfo.status > 0" 
                        [meetingInfo]= "meetingInfo" [meetingId]="meetingId" [attendants]="users" 
                        (finish) = "finishMeeting($event)" (next) = "nextStep($event)">
            </six-hats>
            <brainstorming *ngIf="!meetingInfo.isFinished && meetingInfo.type === 'brainstorming' && meetingInfo.status > 0" 
                            [meetingInfo]= "meetingInfo" [meetingId]="meetingId" [attendants]="meetingInfo.attendats" 
                            (finish) = "finishMeeting($event)" (next) = "nextStep($event)">
            </brainstorming>
        </div>
    </div>

    <!-- Chat -->
    <div class="chat-wrapper" [ngClass]="showChat ? 'shadow' : 'd-none'">
        <div class="upper-chat d-flex justify-content-between">
            <span>Chat</span>
            <button type="button" (click)="toggleChat();" class="btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <chat (messageEvent)="receiveEventChat($event)"></chat>
    </div>
    <!-- Video -->
    <div class="chat-wrapper" [ngClass]="showVideo ? 'shadow' : 'd-none'">
        <div class="upper-chat d-flex justify-content-between">
            <span>Video</span>
            <button type="button" (click)="toggleVideo();" class="btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <videoconferences *ngIf="showVideo" [idRoomMeeting]="meetingId"></videoconferences>
    </div>
</div>