
.chat-parent {
    width: 100%;
    height: 600px;
}


$chat-div: 88%;
$chat-separation: 1em;
$input-div: 90%;

.chat-msg-list {
    width: 100%;
    height: $chat-div;
    padding: $chat-separation;
    padding-bottom: $chat-separation/2;
}

.chat-input {
    width: 100%;
    height: 100% - $chat-div;
    padding: $chat-separation;
    padding-top: $chat-separation/2;
}

.content {
    width: 100%;
    height: 100%;
    padding: 0;

    cursor: text;

    border: 1px lighten(black, 60) solid;
    background: white;

    li {
        position: relative;

        div {
            width: 100%;
            overflow-x: hidden;
        }
    }
} 

ul {
    list-style-type: none;
}

$li-padding: 0.5em;
li {
    padding-left: $li-padding;
    padding-right: $li-padding;
}

.edit {
    width: auto;
    height: 100%;
    float: left;
    
    overflow-y: auto;
    padding: 0.25em 0.5em;

    &:focus {
        outline: none;
    }
}

.send {
    height: 100%;
    float: right;
    cursor: pointer;
}

.time {
    font-size: 0.8em;
    float: right;
}

.msg {
    width: auto;
    margin-right: 3em;
}

.clear {
    clear: both;
}