<div class="chat-parent">
  <div class="chat-msg-list">
    <ul class="content">
      <li *ngFor="let msg of messages">
        <b [style.color]="msg.color">{{getUser(msg.userUUID)}}:</b> {{msg.message}} <span>{{msg.time}}</span>
      </li>
    </ul>
  </div>

  <div class="chat-input">
    <form class="content form-control" (ngSubmit)="onSubmit()" (click)="foco()">
      <button type="submit" class="send btn btn-primary">Send</button>
      <div #editable contenteditable="true" class="edit" (keydown)="lineBreak($event)"></div>
      <div class="clear"></div>
    </form>
  </div>
</div>