<div class="chat-parent">
  <ul class="chat-msg-list">
    <li *ngFor="let msg of messages">
      <div>
        <span class="msg">
          <b [style.color]="getUserColor(msg.userUUID)">{{getUser(msg.userUUID)}}:</b> {{msg.message}}
        </span> 
        <span class="time text-muted">
          {{msg.time}}
        </span>
      </div>
    </li>
  </ul>
  <form class="content form-chat form-control d-flex align-self-end" (ngSubmit)="onSubmit()" (click)="foco()">
    <div #editable contenteditable="true" (keydown)="lineBreak($event)" class="edit chat-input"></div>
    <button type="submit" class="send btn">
      Send
    </button>
  </form>
</div>