<div class="row">
  <div class="col-md-12 mx-auto mt-3">
    <div class="card mx-auto pt-3 pb-3">
      <div item-width="100%" class="mx-auto">
        <h2 class="participants"><span class="letter">P</span>articipants</h2>
      </div>
      <h6 item-width="100%" class="sub-participants mx-auto">Please, select the meeting participants.</h6>
      <form class="form-participants mt-3">

        <div class="list-group">
          <a class="list-group-item list-group-item-action"><span class="employed">Josephina Carter<span class="department">   Accounting</span></span> 
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Randall Philipa<span class="department">   Registry</span></span>
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Hatty Carreen<span class="department">   Marketing</span></span>
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Nick Richie<span class="department">   Testing</span></span>
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Barney Carol<span class="department">   Testing</span></span>
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Rachael Floretta<span class="department">   Development</span></span>
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Joakim Eindride<span class="department">   Marketing</span></span>
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Alv Rudolf<span class="department">   Development</span></span>
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Rebekka Nanna<span class="department">   Development</span></span>
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Petra Laci<span class="department">   Development</span></span>
          </a>
          <a class="list-group-item list-group-item-action"><span class="employed">Magdalena Alpha<span class="department">   Leadership</span></span>
          </a>
        </div>

        <br/>
        <div align="center" class="mt-2">
            <button type="submit" class="btn bt-lg mr-1">Next</button>
            <button type="submit" class="btn bt-lg">Cancel</button>
        </div>

    </form>
    </div>
  </div>
</div>

