<div class="row">
  <div class="col-md-12 mx-auto mt-3">
    <div style="background:#2e2c2c" class="card mx-auto p-5">
      <h3 style="color:white">Participants</h3>
      <br/>
      
      <div class="list-group">
        <a class="list-group-item list-group-item-action">
          Pablo Perejón Linares
        </a>
        <a class="list-group-item list-group-item-action">Daniel Jesús Martínez Suárez
        </a>
        <a class="list-group-item list-group-item-action">Juan Huerta Cebolla
        </a>
      </div>
    </div>
  </div>
</div>