.card{
    background-image: url("../../../assets/img/pw_maze_black.png");
    width:100%;
    height: 100%;
    z-index:1;
}

button{
    background-color: #ffffff;
    color: #000000;
}

button:hover{
    background:#00A98F;
    color: white;
}

.participants{
    color: white;
}

label{
    color: white;
    font-size: 16px;
}

.participants .letter{
    color:#00A98F;
}

.sub-participants{
    color: white;
    font-family: sans-serif;
}

.list-group{
    height:40vh;
    width:50%;
    overflow:scroll;
    overflow-x: hidden;
    z-index:10;
    background-color: #ffffff;
    float: right;
}

.list-group .employed{
    font-size: 18px;
}

.list-group .department{
    color:rgb(107, 107, 107);
    font-size: 15px;
    margin-left: 1%;
}

.list-group a:hover .department{
    color:black;
}

.list-group a:hover{
    background:#00A98F;
    color: white;
}

.form-participants{
    margin: 0 auto;
    width: 90%;
    height: 50%;
}