.card{
    background-image: url("../../../assets/img/pw_maze_black.png");
    width:100%;
    height: 100%;
}

button{
    background-color: #ffffff;
    color: #000000;
}

button:hover{
    background:rgba(0, 206, 209, 0.767);
    color: white;
}

.participants{
    color: white;
}

.participants .letter{
    color:rgba(0, 206, 209, 0.767);
}

.sub-participants{
    color: white;
    font-family: sans-serif;
}

.list-group{
    height:40vh;
    width:100%;
    overflow:scroll;
}

.list-group .employed{
    font-size: 18px;
}

.list-group .department{
    color:rgb(107, 107, 107);
    font-size: 15px;
    margin-left: 1%;
}

.list-group a:hover .department{
    color:black;
}

.list-group a:hover{
    background:rgba(0, 206, 209, 0.767);
    color: white;
}

.form-participants{
    margin: 0 auto;
    width: 90%;
}