<div class="home-container row justify-content-around">
  <!-- Drafter features -->
  <div class="welcome-info col-lg-5 col-md-12">
    <div class="text-center">
      <img src="../../../assets/img/white-logo.png" class="img-logo img-fluid">
      <p>Your meeting manager</p>
    </div>
    <hr>
    <p class="text-justify">Drafter is a toolkit for managing different types of meetings in real time and distributed.</p>
    <p><span class="tick">&#10004;</span> Standard meeting</p>
    <p><span class="tick">&#10004;</span> Brainstorming meeting *</p>
    <p><span class="tick">&#10004;</span> Six Thinking Hats meeting *</p>
    <p><span class="tick">&#10004;</span> Space for organizations *</p>
    <p>* Premium service</p>
  </div>
  <!-- Famous quotes -->
  <div class="quote-container col-lg-5 col-md-12">
    <blockquote class="blockquote">
      <p class="mb-0">"220 million meetings per month just in USA."</p>
      <div class="blockquote-footer">Daniel Russel</div>
    </blockquote>
    <blockquote class="blockquote">
      <p class="mb-0">"Talent wins games, but teamwork and intelligence win championships."</p>
      <div class="blockquote-footer">Michael Jordan</div>
    </blockquote>
    <blockquote class="blockquote">
      <p class="mb-0">"Alone we can do so little; together we can do so much."</p>
      <div class="blockquote-footer">Helen Keller</div>
    </blockquote>
  </div>
</div>
  