.row {
    margin-top: 40px;
}

div.welcome-info,
div.login-form {
    max-width: 450px;
    padding: 0;
}

div.welcome-info img {
    /*border-bottom-left-radius: 5px;*/
}

div.welcome-info div {
    /*border-top-left-radius: 5px;*/
    padding: 15px;
    font-size: 2em;
    color: #fff;
    background-color: #00a98f;
}