<div class="d-flex justify-content-center align-items-stretch">
  <div class="col-lg-6 d-none d-lg-block welcome-info">
    <div class="text-center">
      <strong>Sign in</strong>
    </div>
    <img src="../../../assets/img/sign-in.jpg" class="img-fluid">      
  </div>
  <form class="col-lg-6 form-2">
    <div class="text-center">
      <img src="../../../assets/img/white-logo.png" class="img-logo img-fluid">
      <p>Your meeting manager</p>
      <hr>
    </div>
    <div class="form-group">
      <label for="inputEmail">Username or email address</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-2">Sign in</button>
    </div>
  </form>
</div>
  