<h4>Drafter</h4>
<p>
  This website, Drafter, belongs to the working group of the ISPP subject of the University of Seville.
</p><br/>

<h4>Cookies</h4>
<p>
  We inform you that this website uses cookies, in compliance with Royal Decree-Law 13/2012. If you continue browsing, we assume that you accept the use of cookies.
</p>
<p>
  Cookies are small amounts of information that are stored in the browser used by each user. Thanks to them, a server remembers certain information that can later be used. This information allows you to identify yourself as a specific user and allows you to save your personal preferences, as well as technical information.
</p>
<p>
  This website uses two types of cookies: JSESSIONID (it is automatically set by Spring to maintain the status of the Apache session) and language (it is set whenever you use the language bar to change the language in which your system should display its messages).
</p><br/>

<h4>Terms and Conditions</h4>
<p>
  These General Terms and Conditions regulate the access and use of Drafter:
</p>
<p>
  Drafter is a web application for people who are making some kind of meeting whether or not in person.
</p>
<p>
  The access and use of Drafter implies acceptance of these General Conditions and Terms.
</p>
<p>
  The General Terms and Conditions and other provisions included in this Legal Notice may be modified at any time, notifying the user.
</p>
<p>
  To register you must provide certain personal data, which will only be used for the purpose they were collected.
</p>
<p>
  Drafter does not share or disclose information obtained with third parties.
</p>
<p>
  All information provided must be truthful. Otherwise, you will be solely responsible for false or inaccurate statements made and the damage caused.
</p>
<p>
  Web users must have an organization to attend meetings of the same.
</p>
<p>
  All information collected through the chat and the video call of each meeting will be permanently deleted at the end of that meeting.
</p>

<!-- Versión española -->
<!-- <pre>
Este sitio web, Drafter, pertenece al grupo de trabajo de la asignatura ISPP de la universidad de Sevilla.

Le avisamos que este sitio web usa cookies, en cumplimiento del Real Decreto-ley 13/2012. Si continúa navegando, asumimos que acepta el uso de cookies.
Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario. Gracias a ellas, un servidor recuerda cierta información que posteriormente puede utilizar. Esta información permite identificarle a usted como un usuario concreto y permite guardar sus preferencias personales, así como información técnica.
Este sitio web utiliza dos tipos de cookies: JSESSIONID (se establece automáticamente por Spring para mantener el estado de la sesión de Apache) y language (se establece siempre que utilice la barra de idioma para cambiar el idioma en el que su sistema debe mostrar sus mensajes).

Las presentes Condiciones y Términos Generales regulan el acceso y la utilización de Drafter:
Drafter es una aplicación web para personas que sean realizar algún tipo de reunión ya sea o no de forma presencial.
El acceso y la utilización de Drafter implica la aceptación de las presentes Condiciones y Términos Generales.
Las Condiciones y Términos Generales y otras disposiciones incluidas en este Aviso Legal pueden ser modificadas en cualquier momento, notificando al usuario.
Para registrarse deberá proporcionar ciertos datos de carácter personal, que sólo serán utilizados para el propósito que fueron recopilados.
Drafter no comparte ni revela la información obtenida con terceros.
Toda la información que facilite deberá ser veraz. En caso contrario, usted será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause.
Los usuarios de la web, deberán tener una organización para poder asistir a reuniones de la misma.
Toda la información recopilada mediante el chat y la videollamada de cada reunión, será eliminada de forma permanante al finalizar dicha reunión.
</pre> -->
