<h1 class="title-page text-center">
  <span class="capital-letter">L</span>egal <span class="capital-letter">W</span>arning
</h1>

<h4>Drafter</h4>
<p>
  This website, Drafter, belongs to the ISPP working group of the University of Seville.
</p>
<br>

<h4>Cookies</h4>
<p>
  We inform you that this website uses cookies, in compliance with Royal Decree-Law 13/2012. If you continue browsing, we assume that you accept the use of cookies.
</p>
<p>
  Cookies are small amounts of information that are stored in the browser used by each user. Thanks to them, a server remembers certain information that can later be used. This information allows you to identify yourself as a specific user and allows you to save your personal preferences, as well as technical information.
</p>
<p>
  This website uses cookies such as JSESSIONID. Spring automatically configures it to maintain the status of the Apache session.
</p>
<br>

<h4>Terms and Conditions</h4>
<p>
  These General Terms and Conditions regulate the access and use of Drafter:
</p>
<ul>
  <li>
    Drafter is a web application for people who are making some kind of meeting whether or not in person.
  </li>
  <li>
    The access and use of Drafter implies acceptance of these General Conditions and Terms.
  </li>
  <li>
    The General Terms and Conditions and other provisions included in this Legal Warning may be modified at any time, notifying the user.
  </li>
  <li>
    To register you must provide certain personal data, which will only be used for the purpose they were collected.
  </li>
  <li>
    Drafter does not share or disclose information obtained with third parties.
  </li>
  <li>
    All information provided must be truthful. Otherwise, you will be solely responsible for false or inaccurate statements made and the damage caused.
  </li>
  <li>
    Users must have an organization to attend meetings of the same.
  </li>
  <li>
    All information collected through the chat and the video call of each meeting will be permanently deleted at the end of that meeting.
  </li>
</ul>