@import '~bootstrap/scss/bootstrap.scss';

/* C O L O R S */
$primary-background-color: #333333;
$secondary-background-color: #00a98f;
$content-background-color: #fafafa;
$primary-font-color: #fff;
$secondary-font-color: #000;

/* G E N E R A L */
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding-bottom: 6rem;
    background-color: $content-background-color;
}

/* M E N U */
nav.navbar {
    padding: 0 2.1875rem;
    background-color: $primary-background-color;

    a.navbar-brand img.navbar-logo {
        height: 1.875rem;
        width: auto;
    }

    button.navbar-toggler {
        margin: 0.625rem 0;
    }

    a.nav-link {
        padding: 0.9375rem;
        color: $primary-font-color !important;
        transition: all .2s ease-in;
    }

    a.nav-link:hover {
        background-color: $secondary-background-color;
    }
}

/* F O O T E R */
footer.page-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 0;
    color: $primary-font-color;
    background-color: $primary-background-color; 
}

/* F O R M */
div.login-form form {
    height: 100%;
    /*border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;*/
    padding: 1.25rem 2.5rem;
    background-color: #333;
    color: #fff;
}

div.login-form form img.img-logo {
    max-width: 9.375rem;
}

div.login-form form hr {
    margin-bottom: 1.875rem;
    background-color: #e6e6e6;    
}

button.btn-2 {
    border: none;
    border-radius: 0;
    color: $primary-font-color;
    font-weight: bold;
    background-color: $secondary-background-color;
    transition: all .2s ease-in; 
}

button.btn-2:hover {
    color: $secondary-font-color;
    background-color: $content-background-color;
}