<html>
    <body>
        <navbar></navbar>
        <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
        <footer>
            <span>© 2018 - Drafter, Inc. All rights reserved -</span><a href="#"> Terms and conditions</a>&nbsp;&nbsp;<a href="#">Privacy Policy</a>&nbsp;&nbsp;<a href="#">License</a>
        </footer>
    </body>
</html>



