/* Master page */
$primary-background-color: #333333;
$secondary-background-color: #00a98f;
$font-color: #fff;
/*$light-grey: #dbdbdb;*/

div.page {
    background: #fafafa;
    min-height: 100vh!important;
    margin:0;
    padding:0;
    z-index: 0;
    width: 100%;
}

footer.page-footer {
    padding: 20px 0;
    color:black;
}
