div.page {
    background: #fafafa;
    min-height: 100vh!important;
    margin:0;
    padding:0;
    z-index: 0;
    width: 100%;
}

footer.page-footer {
    padding: 20px 0;
    color:black;
}

.card{
    text-align: center;
    min-width: 300px;
}

.paypal-transaction{
    min-width: 250px;
}

.paypal-transaction span .suboption{
    color: gray!important;
    padding-left: 100px;
}

.selectModePay{
    width: 250px;
}

.price{
    color: blue!important;
}

span.price{
    color: blue!important;
}

span .price{
    color: blue!important;
}

.selectModePay option span.price{
    color: blue!important;
}

.paypal-transaction .price{
    color: blue!important;
}
