<nav class="navbar navbar-expand-lg navbar-dark">
  <span class="navbar-brand"><span>Dra<span class="letter">f</span>ter</span></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pl-3" id="navbarColor01">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="participants">Meetings</a>
      </li>
    </ul>
  </div>
</nav>