@import '../../app.component';

/* PRINCIPAL MENU */
nav.navbar {
    padding: 0 2.1875em;
    background-color: $primary-background-color;

    a.navbar-brand img.navbar-logo {
        height: 1.5em;
        width: auto;
    }

    button.navbar-toggler {
        margin: 0.5em 0;
    }

    a.nav-link {
        padding: 0.9375em;
        color: $font-color;
    }

    a.nav-link:hover {
        background-color: $secondary-background-color;
    }
}