<h2>Meeting agenda</h2>

<div *ngFor="let a of agendas; let ii = index" class="conclusion-container">
    <div class="d-flex justify-content-between conclusion-title">
        <span>{{a.number}}. {{a.description}}</span>
    </div>
    <ul class="conclusion-container">
        <li *ngFor="let c of a.conclusions; let i = index" class="d-flex justify-content-between">
            <input type="text" [(ngModel)]="c.conclusion" *ngIf="c.isInput" (keyup.enter)="killFocus($event)" placeholder="Type your conclusion here..."
                required class="idea" (focusout)="convert(c, ii)">
            <div *ngIf="!c.isInput" (click)="convert(c, ii)" class="idea">
                {{c.conclusion}}
            </div>
            <div class="options-ideas text-right">
                <button *ngIf="c.isInput" (click)="convert(c, ii);" class="btn">
                    <i class="fas fa-check"></i>
                </button>
                <button *ngIf="!c.isInput" (click)="convert(c, ii);" class="btn">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button (click)="removeConclusion(c, ii, i)" class="btn">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </li>
    </ul>
    <div class="text-center">
        <button class="btn" (click)="addConclusion(ii)">
            <i class="fas fa-lightbulb"></i> Add conclusion
        </button>
    </div>
</div>

<div class="buttons text-center">
    <button (click)="finish()" class="btn">Finish</button>
</div>