<div class="agenda">
    <h3>Agenda</h3>
    <div *ngFor="let a of agendas" class="point-container">
        <div class="points d-flex justify-content-between">
            <span>{{a.number}}. {{a.description}}</span>
            <button class="btn" (click)="addConclusion($event)" attr.data-index="{{a.number}}">+</button>
        </div>

        <ul class="input-container">
            <li
            *ngFor="let c of a.conclusions; let i = index" 
            attr.contenteditable="{{hasEdit}}"
            attr.data-iagenda="{{a.number}}" 
            attr.data-iconclusion="{{i}}" 
            (focusout)="edit($event)"
            (keydown)="enter($event)"
            class="conclusion">
                {{c.conclusion}}
            </li>
        </ul>
    </div>
</div>

<div class="buttons text-center">
    <button (click) = "finish()" class="btn">Finish</button>
</div>