<h4>Meeting agenda</h4>

<div *ngFor="let a of agendas; let ii = index" class="ideas-container">
    <div class="ideas-title">
        {{a.number}}. {{a.description}}
    </div>
    <div class="ideas-body">
        <ul class="list-ideas">
            <li *ngFor="let c of a.conclusions; let i = index" class="d-flex justify-content-between">
                <textarea type="text" [(ngModel)]="c.conclusion" 
                       *ngIf="c.isInput" (keyup.enter)="killFocus($event)" (focusout)="convert(c, ii)"
                       placeholder="Type your conclusion here..." class="idea">
                </textarea>
                <div *ngIf="!c.isInput" (click)="convert(c, ii)" class="idea">
                    {{c.conclusion}}
                </div>
                <div class="options-ideas text-right">
                    <button *ngIf="c.isInput" (click)="convert(c, ii);" class="btn">
                        <i class="fas fa-check"></i>
                    </button>
                    <button *ngIf="!c.isInput" (click)="convert(c, ii);" class="btn">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button (click)="removeConclusion(c, ii, i)" class="btn">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </li>
        </ul>
        <div class="text-center">
            <button (click)="addConclusion(ii)" class="btn">
                <i class="fas fa-lightbulb"></i> Add conclusion
            </button>
        </div>
    </div>
</div>

<div *ngIf="participant.role=='LEADER'" class="text-center">
    <button (click)="finish()" class="btn">Finish</button>
</div>